/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000100;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-CondensedBold.eot");
  src: url("../fonts/DINPro-CondensedBold.eot") format("eot"), url("../fonts/DINPro-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bosch Sans";
  src: url("../fonts/BoschSans-Black.eot");
  src: url("../fonts/BoschSans-Black.eot") format("eot"), url("../fonts/BoschSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Bosch Sans";
  src: url("../fonts/BoschSans-Bold.eot");
  src: url("../fonts/BoschSans-Bold.eot") format("eot"), url("../fonts/BoschSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bosch Sans";
  src: url("../fonts/BoschSans-Medium.eot");
  src: url("../fonts/BoschSans-Medium.eot") format("eot"), url("../fonts/BoschSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Bosch Sans";
  src: url("../fonts/BoschSans-Regular.eot");
  src: url("../fonts/BoschSans-Regular.eot") format("eot"), url("../fonts/BoschSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bosch Sans";
  src: url("../fonts/BoschSans-RegularItalic.eot");
  src: url("../fonts/BoschSans-RegularItalic.eot") format("eot"), url("../fonts/BoschSans-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum-bold.eot");
  src: url("../fonts/cuprum-bold.eot") format("eot"), url("../fonts/cuprum-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Bosch Sans", Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.ttl-mt {
  margin-top: 90px;
}

.btn {
  text-align: center;
}
.btn button {
  width: 202px;
  height: 35px;
  border-radius: 18px;
  background-color: #cb1436;
  color: #FFF;
  font-family: "Bosch Sans";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 19px;
  border-color: #f58499;
  transition: 0.4s all;
}
.btn button:hover {
  border-color: #cb1436;
}

.back-review {
  text-align: center;
}
.back-review .btn button {
  min-width: 300px;
}
.back-review .or {
  margin-top: 25px;
}
.back-review .or p {
  margin: 10px 0;
  font-family: "Bosch Sans";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
  line-height: 22px;
}
.back-review .or p:first-child {
  text-transform: uppercase;
}
.back-review .or p:last-child {
  font-family: "DIN Pro";
  font-size: 33px;
  font-weight: bold;
  line-height: 39px;
}
.back-review .or p .ico {
  margin-right: 15px;
}
.back-review .or p .ico img {
  width: 26px;
  height: 26px;
}
.back-review .or a:hover {
  color: #8e880e;
}

.ttl {
  text-align: center;
}
.ttl h1 {
  color: #fffcea;
  font-family: Cuprum;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 1.28px;
  line-height: 59px;
}
.ttl h2 {
  font-family: "Bosch Sans";
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}
.ttl h2 span {
  background: #3aa2cc;
  color: #fff;
}
.ttl h3 {
  font-family: "Bosch Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

header {
  margin-top: 21px;
  background-image: linear-gradient(180deg, #419cd5 0%, #419cd5 100%);
  width: 100%;
  height: 62px;
}
header .h-header {
  height: 62px;
}
header .logo {
  position: relative;
  display: flex;
  align-items: center;
}
header .logo .img {
  position: relative;
  top: 15px;
}
header .logo .img img {
  width: 112px;
  height: 112px;
  height: auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
}
header .logo .slogan {
  color: #ffffff;
  font-family: "DIN Pro";
  font-size: 33px;
  font-weight: 400;
  line-height: 39px;
  margin-left: 34px;
}
header .phone span a {
  margin-left: 11px;
  color: #ffffff;
  font-family: "DIN Pro";
  font-size: 33px;
  font-weight: 400;
  line-height: 39px;
}
header .nav-menu {
  position: absolute;
  right: 0;
  bottom: -39px;
}
header .nav-menu ul {
  max-width: 623px;
  width: 100%;
  height: 39px;
}
header .nav-menu ul li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  list-style: none;
  transition: 0.4s all;
}
header .nav-menu ul li a {
  font-family: "Bosch Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
}
header .nav-menu ul li.active, header .nav-menu ul li:hover {
  background: #f1f1f1;
  position: relative;
}
header .nav-menu ul li.active:after, header .nav-menu ul li:hover:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #8e880e;
  bottom: 0;
  right: 0;
  left: 0;
}

section.banner {
  margin-top: 49px;
  position: relative;
}
section.banner .banner-arrow {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  z-index: 2;
  width: 60px;
  height: 60px;
  transition: 0.4s all;
}
section.banner .banner-arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
section.banner .prev-arrow-banner {
  left: 20px;
}
section.banner .prev-arrow-banner img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.banner .next-arrow-banner {
  right: 20px;
}
section.banner .slider .slide {
  min-height: 800px;
  background-position: center;
  background-size: cover;
}
section.banner .slider .slide .ttl {
  padding-top: 174px;
  padding: 174px 15px 0 15px;
}
section.banner .slider .slide .sldr-ttl {
  color: #fffcea;
  font-family: Cuprum;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 1.28px;
  line-height: 59px;
}
section.banner .slider .slide .desc {
  margin-top: 76px;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
section.banner .slider .slide .desc p {
  font-family: "Bosch Sans";
  font-size: 27px;
  font-weight: 400;
  line-height: 32px;
  color: #FFF;
}
section.banner .slider .slide .btn {
  margin-top: 140px;
}
section.banner .slider .slide .btn button {
  max-width: 310px;
  width: 100%;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}
section.banner .slider .sldr-one {
  background: url(../img/slide1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
section.banner .slider .sldr-two {
  background: url(../img/slide2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
section.banner .slider__dots {
  position: absolute;
  top: 32px;
  right: 39px;
}
section.services .flex {
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-around;
}
section.services .ser-ttl {
  margin-top: 60px;
}
section.services .service {
  margin: 0 7px;
  padding: 15px 7px;
  text-align: center;
  max-width: 238px;
  transition: 0.4s all;
}
section.services .service .ico {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
section.services .service .ico img {
  width: 64px;
  height: 64px;
}
section.services .service .ttl {
  margin: 15px 0;
}
section.services .service .oplet ul li {
  list-style: none;
  margin: 10px 0;
}
section.services .service .services-arrow {
  margin-top: 15px;
  cursor: pointer;
}
section.services .service .services-arrow img {
  width: 22px;
  height: 22px;
  transition: 0.4s all;
}
section.services .service .services-arrow:hover img {
  background: #f1f1f1;
}
section.services .service .services-arrow-scale {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.services .active {
  background: #f1f1f1;
}
section.garant {
  height: 700px;
  background-color: #F4FCFF;
}
section.garant .ttl {
  padding-top: 50px;
}
section.garant .garant-alert {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
section.garant .garant-alert .col-pol {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 540px;
}
section.garant .garant-alert .col-pol .garant-image img {
  max-width: 345px;
  width: 100%;
  height: auto;
}
section.garant .garant-alert .col-pol .garant-desc p {
  font-family: "Bosch Sans";
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}
section.garant .garant-alert .r-col .garant-image {
  position: absolute;
  top: -5px;
}
section.garant .garant-alert .r-col .garant-image img {
  max-width: 560px;
}
section.garant .garant-alert .r-col .garant-desc {
  position: relative;
}
section.stock-one .stock-alert {
  justify-content: space-around;
  margin-top: 45px;
  min-height: 640px;
  background: url(../img/bg-1.png) repeat-y;
}
section.stock-one .stock-alert .parcente {
  margin-left: 80px;
}
section.stock-one .stock-alert .parcente .number {
  color: #8e880e;
  font-family: "Bosch Sans";
  font-size: 194px;
  font-weight: 900;
  line-height: 100px;
}
section.stock-one .stock-alert .parcente .txt {
  font-family: "Bosch Sans";
  font-size: 88px;
  font-weight: 900;
  line-height: 103px;
}
section.stock-one .stock-alert .desc-stock {
  max-width: 550px;
}
section.stock-one .stock-alert .desc-stock .data .txt p {
  font-family: "Bosch Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
}
section.stock-one .stock-alert .desc-stock .data .back-review {
  margin-top: 90px;
}
section.advantages .oplet {
  margin-top: 40px;
  min-height: 750px;
  background: url(../img/bg2.jpg) repeat-y;
  background-position: center;
  background-size: cover;
  padding-top: 73px;
}
section.advantages .advantages-alert {
  min-height: 600px;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}
section.advantages .advantages-alert .item-advantages {
  background: #fff;
  max-width: 555px;
  width: 100%;
  min-height: 180px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
section.advantages .advantages-alert .item-advantages .ico img {
  width: 100px;
  height: auto;
}
section.advantages .advantages-alert .item-advantages .desc {
  margin-left: 20px;
}
section.advantages .advantages-alert .item-advantages .desc p {
  font-family: "Bosch Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
section.advantages .r-1 {
  border-top-left-radius: 25px;
}
section.advantages .l-1 {
  border-top-right-radius: 25px;
}
section.advantages .r-2 {
  border-bottom-left-radius: 25px;
}
section.advantages .l-2 {
  border-bottom-right-radius: 25px;
}
section.review .review-alert {
  margin-top: 50px;
  position: relative;
}
section.review .review-alert .review-arrow {
  position: absolute;
  top: calc(50% - 90px);
  transition: 0.4s all;
}
section.review .review-alert .review-arrow:hover {
  background: #f1f1f1;
  cursor: pointer;
}
section.review .review-alert .prev-review-arrow {
  left: 0;
}
section.review .review-alert .next-review-arrow {
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.review .review-alert .sldr-review {
  max-width: 965px;
  width: 100%;
  margin: 0 auto;
}
section.review .review-alert .sldr-review .item-rev .txt {
  text-align: center;
}
section.review .review-alert .sldr-review .item-rev .txt p {
  line-height: 25px;
  font-style: italic;
  color: #535459;
}
section.review .review-alert .sldr-review .item-rev .oplet {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
section.review .review-alert .sldr-review .item-rev .autor {
  display: inline-block;
  margin-right: 45px;
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
}
section.review .review-alert .sldr-review .item-rev .photo {
  display: inline-block;
  position: relative;
}
section.review .review-alert .sldr-review .item-rev .photo img {
  max-width: 108px;
  width: 100%;
  height: 108px;
}
section.stock-two .stock-two-alert {
  margin-top: 40px;
  background: #F2FFFF;
  min-height: 550px;
  padding-top: 50px;
  border-bottom: 60px;
}
section.stock-two .stock-two-alert .col-pol .ttl h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
section.stock-two .stock-two-alert .col-pol:first-child {
  flex: none;
}
section.stock-two .stock-two-alert .col-pol .back-review {
  margin-top: 50px;
}
section.stock-two .stock-two-alert .desc-stock-two {
  margin-left: 60px;
}
section.stock-two .stock-two-alert .desc-stock-two p {
  font-family: "Bosch Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
section.stock-two .stock-two-alert .img img {
  max-width: 605px;
  width: 100%;
  height: auto;
}
section.contacts .contacts-alert {
  margin-top: 40px;
}
section.contacts .contacts-alert .col-pol {
  width: 50%;
}
section.contacts .contacts-alert .col-pol ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 44px;
}
section.contacts .contacts-alert .col-pol ul li .ico {
  margin-right: 30px;
}
section.contacts .contacts-alert .col-pol ul li .ico img {
  width: 20px;
  height: auto;
}
section.contacts .contacts-alert .col-pol ul li a {
  text-decoration: underline;
  color: #8e880e;
}
section.contacts .contacts-alert .col-pol .img-cont img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

footer {
  margin-top: 120px;
  min-height: 455px;
  background-color: #535459;
  color: #fff;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-alert {
  align-items: flex-start;
  padding-top: 55px;
}
footer .col-3 .logo-f .img img {
  max-width: 320px;
  width: 100%;
  height: auto;
}
footer .col-3 .logo-f .slogan {
  font-family: "DIN Pro";
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 0.33px;
  line-height: 39px;
  text-transform: uppercase;
}
footer .col-3 nav ul li {
  list-style: none;
  margin-bottom: 15px;
}
footer .col-3 nav ul li a {
  color: #FFF;
  font-size: 18px;
  position: relative;
}
footer .col-3 nav ul li.active a:after, footer .col-3 nav ul li:hover a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  background-color: #8e880e;
}
footer .col-3 form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
footer .col-3 form input {
  width: 100%;
  height: 28px;
  border: 1px solid #ffffff;
  background: none;
  color: #9c9a9a;
  font-family: "Bosch Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 15px;
  margin-bottom: 10px;
}
footer .col-3 form textarea {
  padding-left: 15px;
  width: 100%;
  height: 98px;
  border: 1px solid #ffffff;
  background: none;
  color: #9c9a9a;
  font-family: "Bosch Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 30px;
}
footer .col-3 .social ul li {
  display: inline-block;
  list-style: none;
  margin: 0 2px;
}
footer .col-3 .social ul li img {
  width: 43px;
  height: auto;
}
footer .col-3 .phone-f {
  margin-top: 15px;
}
footer .col-3 .phone-f .ico {
  margin-right: 13px;
}
footer .col-3 .phone-f .ico img {
  width: 31px;
  height: 31px;
}
footer .col-3 .phone-f .ph {
  color: #ffffff;
  font-family: "DIN Pro";
  font-size: 37px;
  font-weight: 400;
  line-height: 43px;
}
footer .copyright {
  min-height: 69px;
  background-color: #272727;
  text-align: center;
  padding-top: 22px;
}
footer .copyright p {
  color: #535459;
  font-family: "Bosch Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
footer .copyright p a {
  color: #4ECC6D;
}
footer .copyright sup {
  color: red;
}
footer .copyright .persd-sogl a {
  color: #aba5a5;
}

.window-modal {
  max-width: 550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 300px;
  border-radius: 20px;
  padding: 30px 25px;
  background: #F4FCFF;
}
.window-modal form .logo-form img {
  width: 120px;
  height: 49px;
}
.window-modal form h2 {
  text-align: center;
  font-size: 26px;
}
.window-modal form .flex-form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.window-modal form .flex-form input {
  margin-bottom: 10px;
  height: 35px;
  width: 100%;
  color: #9c9a9a;
  border: 1px solid #272727;
  border-radius: 3px;
  padding: 0 15px;
  background: none;
}
.window-modal form .flex-form input:first-child {
  margin-top: 20px;
}
.window-modal form .flex-form .btn {
  margin-top: 35px;
}

.persd-sogl {
  margin: 15px 10px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
.persd-sogl a {
  color: #8e880e;
}

.oferta {
  font-size: 12px;
  text-align: center;
  max-width: 950px;
  margin: 6px auto;
}

.scrollup {
  transition: all 0.3s ease-out;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  text-indent: -9999px;
  background: rgba(0, 0, 0, 0.6) url(../img/sprite.png) no-repeat 13px -1027px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  border-radius: 1px;
  justify-content: center;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.scrollup:hover {
  background: black url(../img/sprite.png) no-repeat 13px -1027px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-dotted.slick-slider li {
  list-style: none;
  margin-bottom: 7px;
}
.slick-dotted.slick-slider li button {
  font-size: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #746f06;
  border-radius: 50%;
  background: none;
}
.slick-dotted.slick-slider li button[aria-selected="true"] {
  background: #746f06;
}

.menu-mobile {
  display: none;
}

.menu {
  width: 100%;
  display: table;
  border-bottom: 1px solid #fff;
  z-index: 999;
  background: #535459;
  left: 0;
  right: 0;
}

.menu ul {
  display: table-row;
  list-style: none;
}

.menu ul li {
  display: table-cell;
}

.menu ul li a {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #FFF;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid #fff;
}

.menu ul li:last-child a {
  border-right: none;
}

#sandwich {
  width: 50px;
  height: 50px;
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 0;
  display: none;
}

.sw_top {
  position: relative;
  top: 0;
  width: 50px;
  height: 5px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  /* transition-delay: 0.2s, 0s; */
}

.sw_bottom {
  position: relative;
  width: 50px;
  height: 5px;
  top: 10px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  transition-delay: 0.2s, 0s;
}

.sw_footer {
  position: relative;
  width: 50px;
  height: 5px;
  top: 20px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}

#sandwich.active .sw_top {
  top: 15px;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

#sandwich.active .sw_bottom {
  top: 10px;
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
}

#sandwich.active .sw_footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .menu {
    width: 100%;
    display: none;
    position: absolute;
    top: 112px;
    border-bottom: none;
  }

  .menu ul {
    display: block;
  }

  .menu ul li {
    display: block;
  }

  .menu ul li a {
    border-bottom: 1px solid #fff;
    display: block;
    border-right: none;
  }

  .menu ul li:last-child a {
    border-right: none;
  }

  #sandwich {
    top: 10px;
    right: 10px;
    display: block;
  }
}
section.stock-two .stock-two-alert .col-pol .ttl h3 {
  line-height: 1.4;
}
