@import "_normalize";
$DPCb: 'DINPro-CondensedBold';
$Bbk: 'BoschSans-Black';
$Bb: 'BoschSans-Bold';
$Bm: 'BoschSans-Medium';
$B: 'BoschSans-Regular';
$Bi: 'BoschSans-RegularItalic';
$Cb: 'cuprum-bold';
$DPCN: 'DIN Pro';
$BN: 'Bosch Sans';
$CN: 'Cuprum';


$normal: normal;
$italic: italic;
$bold: bold;
$semibold: 600;
$medium: 500;
$heavy: 700;
$black: 900;
$light: 300;

$dir:'../fonts/';
$bg-color:#b4eaff;
$wt:#fff;
$bk:#000;
$accent-color:#3aa2cc;
$ttl-fz:36px;
$fz:16px;
$btn-color: #cb1436;

@mixin trans(){
    transition: 0.4s all;
}

@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
                font-family: $fontfamily;
                src: url($dir+$fontname+'.eot');
                src: url($dir+$fontname+'.eot') format("eot"),
                     url($dir+$fontname+'.ttf') format("truetype");
                font-weight: $fweight;
                font-style: $fstyle;
    }
}
@include font($DPCb, $bold, $normal, $DPCN);
@include font($Bbk, $black, $normal, $BN);
@include font($Bb, $bold, $normal, $BN);
@include font($Bm, $medium, $normal, $BN);
@include font($B, $normal, $normal, $BN);
@include font($B, $normal, $italic, $BN);
@include font($Cb, $bold, $normal, $CN);
body { 
    font-family: $BN, Tahoma, sans-serif;
    line-height: 1;
    background-color: #ffffff;
    height: 100%;
    position: relative;
    font-size: $fz;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.ttl-mt{
    margin-top: 90px;
}
.btn{
    text-align: center;
    button{
        width: 202px;
        height: 35px;
        border-radius: 18px;
        background-color: $btn-color;
        color: #FFF;
        font-family: $BN;
        font-size: $fz;
        font-weight: 500;
        letter-spacing: -0.32px;
        line-height: 19px;
        border-color: #f58499;
        @include trans();
        &:hover{
            border-color: $btn-color;
        }
    }
}
.ttl{
  text-align: center;
  h1{
    color: #fffcea;
    font-family: Cuprum;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 1.28px;
    line-height: 59px;
  }
  h2{
    font-family: $BN;
    font-size: $ttl-fz;
    font-weight: bold;
    line-height: 42px;
    span{
        background: $accent-color;
        color: #fff;
    }
  }
  h3{
    font-family: $BN;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }
}

header{
    margin-top: 21px;
    background-image: linear-gradient(180deg, rgba(65, 156, 213, 1) 0%, rgba(65, 156, 213, 1) 100%);
    width: 100%;
    height: 62px;
    .h-header{
        height: 62px;
    }
    .logo{
        position: relative;
        display: flex;
        -webkit-align-items: center;
                align-items: center;
        .img{
            position: relative;
            top: 15px;
            img{
                max-width: 112px;
                width: 100%;
                height: auto;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
            }
        }
        .slogan{
            color: #ffffff;
            font-family: "DIN Pro";
            font-size: 33px;
            font-weight: 400;
            line-height: 39px;
            margin-left: 34px;
        }
    }
    .phone{
        .ico-ph{
            img{
                
            }
        }
        span{
            a{
                margin-left: 11px;
                color: #ffffff;
                font-family: "DIN Pro";
                font-size: 33px;
                font-weight: 400;
                line-height: 39px;
            }
        }
    }
    .callback{
        .btn{
            button{
                
            }
        }
    }
    .nav-menu{
        position: absolute;
        right: 0;
        bottom: -39px;
        ul{
            max-width: 623px;
            width: 100%;
            height: 39px;
            li{
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 10px;
                list-style: none;
                @include trans();
                a{
                    font-family: $BN;
                    font-size: $fz;
                    font-weight: 400;
                    line-height: 19px;
                    text-decoration: none;
                }
                &.active, &:hover{
                    background: #f1f1f1;
                    position: relative;
                }
                &.active:after, &:hover:after{
                    content: "";
                    position: absolute;
                    border-bottom: 3px solid #8e880e;
                    bottom: 0;
                    right: 0;
                    left: 0;
                }
            }
        }
    }
}
section{
    &.banner{
        margin-top: 49px;
        position: relative;
        .banner-arrow{
            position: absolute;
            bottom: 20px;
            cursor: pointer;
            z-index: 2;
            width: 60px;
            height: 60px;
            @include trans();
            &:hover{
                transform: scale(1.1);
            }
        }
        .prev-arrow-banner{
            left: 20px;
            img{
                transform: rotate(180deg);
            }
        }
        .next-arrow-banner{
            right: 20px;
        }
        .slider{
            .slide{
                min-height: 800px;
                .ttl{
                    padding-top: 174px;
                }
                .sldr-ttl{
                    color: #fffcea;
                    font-family: Cuprum;
                    font-size: 64px;
                    font-weight: bold;
                    letter-spacing: 1.28px;
                    line-height: 59px;
                }
                .desc{
                    margin-top: 76px;
                    text-align: center;
                    max-width: 1200px;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 0 15px;
                    p{
                        font-family: $BN;
                        font-size: 27px;
                        font-weight: 400;
                        line-height: 32px;
                        color: #FFF;
                    }
                }
                .btn{
                    margin-top: 140px;
                    button{
                        max-width: 310px;
                        width: 100%;
                        height: 45px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
            .sldr-one{
                background: url(../img/slide1.jpg)no-repeat;
            }
            .sldr-two{
                background: url(../img/slide2.jpg)no-repeat;
            }
        }
        .slider__dots{
            position: absolute;
            top: 32px;
            right: 39px;
        }
    }
    &.services{
        .flex{
            align-items: baseline;
        }
        .ser-ttl{
            margin-top: 60px;
        }
        .service{
            margin: 0 7px ;
            padding: 15px 7px;
            text-align: center;
            min-width: 239px;
            @include trans();
            .ico{
                width: 100px;
                height: 100px;
                background-color: #f1f1f1;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                img{
                    width: 64px;
                    height: 64px;
                }
            }
            .ttl{
                margin: 15px 0;
                h3{
                    
                }
            }
            .oplet{
                display: none;
                ul{
                    li{
                        list-style: none;
                        margin: 10px 0;
                    }
                }
            }
            .services-arrow{
                margin-top: 15px;
                cursor: pointer;
                img{
                    width: 22px;
                    height: 22px;
                    @include trans();
                }
                &:hover img{
                    background: #f1f1f1;
                }
            }
            .services-arrow-scale{
                transform: rotate(180deg);
            }
        }
        .active{
            background: #f1f1f1;
        }
    }
}












.slick-dotted.slick-slider{
    margin-bottom: 0;
    li{
        list-style: none;
        margin-bottom: 7px;
    }
    li button{
        font-size: 0;
        width: 25px;
        height: 25px;
        border: 1px solid #746f06;
        border-radius: 50%;
        background: none;
        &[aria-selected="true"]{
            background: #746f06;
        }
    }
}